 {% extends "base.html" %}

  {% block title %} View Profile {% endblock %}
  {% block content %}
	
		<form>
			<div class="input-append pull-right" id='searchdiv'>
				<label style='float:left;margin-top:5px;color:#667'>Enter Member Id:&nbsp;</label>
    			<input type="text" class="span2" placeholder='search...' value='0375'>
    			<button type="submit" class="btn"><i class="icon-search"></i></button>
	  		</div>
  		</form>
      	
      <div id='profileimage' >
        <img src='img/aladin.jpg' >         
      </div>
      <div id='memberprofile'>
        
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle titles" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                PERSONAL INFORMATION
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              <table align='center' class='table'>                    
                <tr><td class='lbl'>Full Name:&nbsp;</td><td>Abebe Kebede Solomon</td></tr>         
                <tr><td class='lbl'>Age:&nbsp;</td><td>47</td></tr>
                <tr><td class='lbl'>Sex:&nbsp;</td><td>Male</td></tr>
                <tr><td class='lbl'>Birthdate:&nbsp;</td><td>May 06 1956</td></tr>
                <tr><td class='lbl'>Salary:&nbsp;</td><td>5700</td></tr>            
              </table>            
            </div>
          </div>
        </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle titles" data-toggle="collapse" data-parent="#accordion2" href="#address">
            ADDRESS
          </a>
        </div>
        <div id="address" class="accordion-body collapse">
          <div class="accordion-inner">
            <table align='center' class='table'>
              <tr><td class='lbl'>House No:&nbsp;</td><td>0123</td></tr>          
              <tr><td class='lbl'>Kifle Ketema:&nbsp;</td><td>Arada</td></tr>                    
              <tr><td class='lbl'>P.O.Box:&nbsp;</td><td>56789</td></tr>                    
              <tr><td class='lbl'>Kebele:&nbsp;</td><td>05</td></tr>                    
              <tr><td class='lbl'>Office Tel-No:&nbsp;</td><td>+251112345678</td></tr>
              <tr><td class='lbl'>Cellphone No:&nbsp;</td><td>+251912345678</td></tr>                
              <tr><td class='lbl'>Campus:&nbsp;</td><td>Science Faculty</td></tr>
              <tr><td class='lbl'>Department:&nbsp;</td><td>Chemistry</td></tr>                    
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle titles" data-toggle="collapse" data-parent="#accordion2" href="#associationinfo">
            ASSOCIATION INFORMATION
          </a>
        </div>
        <div id="associationinfo" class="accordion-body collapse">
          <div class="accordion-inner">
            <table align='center' class='table'>
              <tr><td class='lbl'>Member ID:&nbsp;</td><td>0375</td></tr>          
              <tr><td class='lbl'>Registration Date &apos; Time :&nbsp;</td><td>May 06 2013 05:19:56 PM</td></tr>                    
              <tr><td class='lbl'>Current Account Balance:&nbsp;</td><td>25000</td></tr>                    
              <tr><td class='lbl'>Current Loan Amount:&nbsp;</td><td>3400</td></tr>                                  
            </table>
          </div>
        </div>
      </div>
    </div>

        
      </div>
	</div>

{% endblock %}
<script type="text/javascript">
	$(function(){
		
	});
</script>
