
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Request Loan</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />    
  <script type="text/javascript" src='js/jquery.js'></script>
  <script type="text/javascript" src='js/bootstrap.js'></script>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  
</head>

<body>
  <div id='container'>
    <div id='header'>
    </div>    
    <div id='logindiv'>
    <form>
    	<table class='table table-bordered' cellspacing='0' style='width:320px;position:absolute;margin-left:630px;margin-top:100px;' align='right'>
    	<tr><th colspan='2' id='loginheader' style='text-align:center;font-size:20px;'>Sign in</th></tr>
		<tr><td class='lbl'>Username:</td><td><input type='text' placeholder='username or email'/></td></tr>
		<tr><td class='lbl'>Password:</td><td><input type='password' /></td></tr>
		<tr><td colspan='2'><button type='submit' class='btn btn-primary' style='float:right;'>Sign in</button></td></tr>
	</table>
    </form>   
	</div>
	<div id='slides'>
    </div>
      
  </div>
</body>
<script type="text/javascript">
  $(function(){
        
  });
</script>

</html>
