
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Register</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />    
  <script type="text/javascript" src='js/jquery.js'></script>
  <script type="text/javascript" src='js/bootstrap.js'></script>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <div id='container'>
    <div class="navbar" id='navbar'>
        <div class="navbar-inner" id='navbar-inner'>
          <!--a class="brand" id='brand' href="#">Welcome to AAU Credit Association</a-->
          <a class="brand" id='brand' href="#">AAU Credit Association Management System</a>
          <ul class="nav dropdown pull-right" id='nav'>
            <li><a href='#' style='color:#099;font-size:14px;'>Welcome Hannah</a></li>
              <li><a href="clerkhome.html"><i class="icon-home"></i>&nbsp;Home</a></li>
              <li><a href="index.html">Request Loan</a></li>
              <li class='dropdown'>
                <a href="#" class='dropdown-toggle active' data-toggle="dropdown">Forms&nbsp;<b class="caret"></b></a>
                <ul class='dropdown-menu'>
                  <li><a href='registration.html'><i class="icon-plus-sign"></i>&nbsp;Register New Member</a></li>
                  <li><a href="#"><i class="icon-edit"></i>&nbsp;Edit Balances</a></li>
                  <li><a href="editmemberprofile.html"><i class="icon-edit"></i>&nbsp;Edit Member&apos;s Profile</a></li>
                  <li><a href="viewmemberprofile.html"><i class="icon-edit"></i>&nbsp;View Member&apos;s Profile</a></li>
                  <li><a href="#"><i class="icon-calendar"></i>&nbsp;Loan Extension</a></li>
                  <li><a href="#"><i class="icon-edit"></i>&nbsp;Campus Change</a></li>                 
                  <li><a href="#"><i class="icon-flag"></i>&nbsp;Report Leave</a></li>              
                </ul>
              </li>
              <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id='dropmenu'><i class="icon-wrench"></i>&nbsp;Settings <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#"><i class="icon-eye-close"></i>&nbsp;Sleep</a></li>                          
                          <li><a href="#"><i class="icon-edit"></i>&nbsp;Change username</a></li>                          
                          <li><a href="#"><i class="icon-edit"></i>&nbsp;Change password</a></li>                          
                          <li class="divider"></li>
                          <li><a href="#"><i class="icon-off"></i>&nbsp;Logout</a></li>
                        </ul>
                    </li>
          </ul>                   
        </div>
    </div>    
    <form>
      <div class="input-append pull-right" id='searchdiv'>
        <label style='float:left;margin-top:5px;color:#667'>Enter Member Id:&nbsp;</label>
          <input type="text" class="span2" placeholder='search...' >
          <button type="submit" class="btn"><i class="icon-search"></i></button>
        </div>
      </form>   
      <form>
        <table align='center' class='table' id='request-table1'>
          <!--tr><td class='lbl'>Id:&nbsp;</td><td><input type='text'></td></tr-->
          <tr><th colspan=2 class='table-header'>REGISTRATION FORM</th></tr>
          <tr><td class='lbl'>First Name:&nbsp;</td><td><input type='text'  ></td></tr>
          <tr><td class='lbl'>Father&apos;s Name:&nbsp;</td><td><input type='text'  ></td></tr>
          <tr><td class='lbl'>Grand Father&apos;s Name:&nbsp;</td><td><input type='text' ></td></tr>
          <tr><td class='lbl'>BirthDate:&nbsp;</td><td><!--select style='width:65px;'>
              <option>Day</option>
            </select>
            <select style='width:75px;'>
              <option>Month</option>
              <select style='width:70px;'>
                </select>
              <option>Year</option>            
            </select-->
            <input type='date'>          
          </td></tr>
          <tr><td class='lbl'>Woreda:&nbsp;</td><td><input type='text'  ></td></tr>
          <tr><td class='lbl'>Kebele:&nbsp;</td><td><input type='text'  ></td></tr>
          <tr><td class='lbl'>House No:&nbsp;</td><td><input type='text' ></td></tr>
          <tr><td class='lbl'>Subcity:&nbsp;</td><td><select>
              <option>Select Subcity</option>
            </select></td></tr>          
          <tr><td class='lbl'>Home phone no:&nbsp;</td><td><input type='text' ></td></tr>
          <tr><td class='lbl'>Sex:&nbsp;</td><td><input type='radio' name='sex'>&nbsp;Male&nbsp;<input type='radio' name='sex'>&nbsp;Female&nbsp;</td></tr>          
          <tr><td class='lbl'>Office Tel-No:&nbsp;</td><td><input type='text'  ></td></tr>
          <tr><td class='lbl'>Cellphone No:&nbsp;</td><td><input type='text' ></td></tr>
          <tr><td class='lbl'>P.O.Box:&nbsp;</td><td><input type='text' ></td></tr>              
          <tr><td class='lbl'>Salary:&nbsp;</td><td><input type='text' ></td></tr>          
          <tr><td class='lbl'>Campus:&nbsp;</td><td><input type='text' ></td></tr>
          <tr><td class='lbl'>Department:&nbsp;</td><td><input type='text' ></td></tr>
          <tr><td class='lbl'>Faculty:&nbsp;</td><td><input type='text'  ></td></tr>
          <tr><td class='lbl'>Saving Percentage:&nbsp;</td><td><select>
              <option>Select saving percent</option>
            </select></td></tr>
          <tr><td class='lbl'>e-mail:&nbsp;</td><td><input type='text'  ></td></tr>
          <tr><td class='lbl'>Password:&nbsp;</td><td><input type='password'  ></td></tr>                  
          <tr><td colspan='2'><button class='btn btn-primary pull-right' style='margin-right:120px;' id='loan-next'>Register</button></td></tr>      
      </form>
  </div>
</body>
<script type="text/javascript">
  $(function(){
    
  });
</script>

</html>
