<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Home</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<script type="text/javascript" src='js/jquery.js'></script>
	<script type="text/javascript" src='js/index.js'></script>
	<script type="text/javascript" src='js/bootstrap.js'></script>
  	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">  
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class='usersbody'>
<div id='header-body'>
</div>
<div id='container'>
	<div id='semi-transparent-header-background'>
		<div id='header-menu'>
			<ul id='menu-contents'>
				<li><a class='btns' href=''>HOME</a></li>
				<li><a href=''>REGISTER</a></li>
				<li><a href=''>RULES &amp; REGULATIONS</a></li>
				<li><a href=''>ABOUT US</a></li>
				<li><a href=''>CONTACT US</a></li>
				<!--li><a href=''></a></li-->
			</ul>
		</div>
	</div>
	<div class='thethree' id='the-association'>
		<div id='theassociation' class='thethreeheaders'>
			<p>
				THE ASSOCIATION<br>
				<i>Alittle about the association</i>
			</p>
		</div>
		<div class='thethreecontent'>
			<p>
				Addis Ababa is the largest city in Ethiopia, with a population of 3,384,569 according to the 2007 population census with annual growth rate of 3.8%. Based on this estimation.
			</p>
			<a href='' class='btn btn-info' id='readmore' style='float:right;margin-top:-10px;'>Read more</a>
		</div>
	</div>
	<div class='thethree' id='member-login-index'>
		<div id='themember' class='thethreeheaders'>
			<p>
				MEMBER<br>
				<i>Login as a member</i>
			</p>
		</div>
		<div id='userlogindiv'>
			<form>
				<input type='text' name='username' id='username' placeholder='	username or email' />
				<input type='password' name='password' id='password' placeholder='&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;******************' />
				<input type='submit' class='btn btn-primary' id='loginbutton' name='login' value='login' />
			</form>
		</div>
	</div>
	<div class='thethree' id='admin-login-index'>
		<div id='theadmin' class='thethreeheaders'>
			<p>
				ADMINISTRATOR<br>
				<i>Login as an administrator</i>
			</p>
		</div>
		<div class='thethreecontent'>
			<p>
				Addis Ababa is the largest city in Ethiopia, with a population of 3,384,569 according to the 2007 population census with annual growth rate of 3.8%. Based on this estimation.
			</p>
		</div>
	</div>
	<div id='footer'>
		<a href="">Sitemap</a>&nbsp;|&nbsp;<a href="">The association</a>&nbsp;|&nbsp;<a href="">about us</a>&nbsp;|&nbsp;<a href="">contact us</a>&nbsp;|&nbsp;<a href="">Privacy policy</a>&nbsp;|&nbsp;<a href="">Terms of use</a>&nbsp;|&nbsp;
	</div>
</div>
</body>
</html>